auto-install-peers=false
strict-peer-dependencies=false
public-hoist-pattern[]=@electron-forge/*
public-hoist-pattern[]=@rollup/rollup-win32-x64-msvc
public-hoist-pattern[]=@rollup/rollup-win32-x64-gnu
public-hoist-pattern[]=lightningcss-win32-x64-msvc
public-hoist-pattern[]=@esbuild/win32-x64
public-hoist-pattern[]=@tailwindcss/oxide-win32-x64-msvc
supportedArchitectures[os][]=linux
supportedArchitectures[os][]=win32
supportedArchitectures[cpu][]=x64
